<div class="flex space-between header">
    <h3>Users</h3>
    <a href="/"><span class="icon-arrow-back icon primary"></span></a>
</div>

<div class="flex">
    {#users}
      <div class="cell">
          <a href="/user/detail/{id}"><img src="{avatar}" class="avatar"></a>
      </div>
      <div class="cell">
         <a href="/user/detail/{id}">{firstName} {lastName}</a>
      </div>
      <div class="cell">
          <span>{street}</span>
      </div>
      <div class="cell">
         <span>{city}</span>
      </div>
      <div class="cell">
         <span>{state}</span>
      </div>
      <div class="cell">
         <a href="/user/detail/{id}"><span class="icon-pageview icon"></span></a>
      </div>
    {/users}
</div>