body{
    font-family: Roboto;
    color:#444;
    margin:0;
    min-height: 100vh;
    height:100%;
    display:flex;
    flex-direction:column;;
}
body>*:not(footer){
    flex:1 0 auto;
}
header{
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    background:#139180;
    color:#fff;
    display:flex;
    height:60px;
    padding:0 0 0 5em;
    margin:0 0 2em 0;
    align-items:center;
    justify-content: space-between;
    max-height:60px;
}
form{
    display:flex;
    margin-right:5em;
}
h2,h3{
    margin:0;
    font-family: 'Roboto-light';
    font-weight:200;
}
h3{
    color:#139180;
    display:block;
    font-size:1.5em;
}
h3.secondary{
    color:#9C27B0;
}
a{
    color:#9C27B0;
    text-decoration: none;
}
a{
    cursor:pointer;
}
label{
    color:#139180;
}
section{
    margin:3em;
}
.center{
    align-items: center;
}
img{
    max-width:50px;
    height:auto;
    min-height:50px;
    border-radius:50%;
}
.flex{
    display:flex;
    flex-direction: space-between;
    flex-wrap: wrap;
}
.cell{
    padding:.5em 0;
    width:16%;
    display:flex;
    align-items: center;
}
.cell:nth-of-type(12n + 7), .cell:nth-of-type(12n + 8), .cell:nth-of-type(12n + 9),.cell:nth-of-type(12n + 10), .cell:nth-of-type(12n + 11), .cell:nth-of-type(12n + 12){
    background:#f7f7f7;
}
.flex.space-between{
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    display:flex;
    flex-direction: column;
}
.flex-column label{
    margin-bottom:.25em;
}
.flex-column span{
    margin-bottom:2em;
}
.icon{
    font-size:48px;
    color:#6d6d6d;
}
.icon.primary{
    color:#139180;
}
.inline{
    display:flex;
    align-items: center;
    width:auto;
}
.link{
    margin-left:.5em;
}
.header{
    width:95%;
    margin-bottom:2em;
}
.name-margin{
    margin:0 0 0 1em;
}

.search-result{
    font-size:20px;
    color:#E0E0E0;
}

.gray{
    color:#E0E0E0;
}

.no-results{
    margin-top:3em;
}

.margin-top{
    margin-top:1.5em;
}

.pointer{
    cursor:pointer;
}

form>input[type=text]{
    border:0;
    background:transparent;
    color:#fff;
    font-size:16px;
    font-family: "Roboto-light";
    width:100px;
}

form>input[type=text]::-webkit-input-placeholder {
    color: #fff;
    font-family: Roboto-light;
    opacity:.5;
}

form button{
    border:0;
    background:transparent;
    color:#fff;
    opacity:.5;
}

form button:before{
    font-size:24px;
}

footer{
    height:100px;
    background:#ededed;
    display:flex;
    align-items: center;
    margin-top:2em;
    padding:0 3em;
    color:#666;
}